@import "crearProyecto.css";

#contenedorFormulario {
    margin-top: 20px;
    margin-bottom: 20px;
}

#contenedorFormulario h1{
    margin-top: 0;
    margin-bottom: 10px;
}

#contenedorFormulario div {
    margin-bottom: 10px;
}

.mensajeError{
    display: none;
    color: red;
    margin-top: 10px;
    font-style: italic;
    margin-left: 5px;
}
