.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination li .page-link{
    background-color: white;
    color: #a16aff;
    text-decoration: none;
    font-weight: bold;
}

.pagination li .page-link:hover{
    border: solid black 1px;
}

.pagination li.active .page-link{
    background-color: #a16aff;
    color: white;
    border: solid darkgreen 1px;
}

.pagination li.disabled .page-link{
    display: none;
}
