#navSuperior, #layoutSidenav_nav nav{
    background-color: white;
}

#layoutSidenav_nav nav{
    box-shadow: 1px 1px 10px #a16aff;
    border-right: solid black 1px;
}

#navSuperior{
    border-bottom: solid #833bff 1px;
    background-color: #a16aff;
}

#layoutSidenav_nav nav .nav-link{
    color: black;
}

.sb-nav-link-icon svg {
     color: #a16aff;
}

#layoutSidenav_nav nav .nav-link:hover{
    color: #a16aff;
    /*morado mas oscuro #9557ff*/
}

#layoutSidenav_nav nav .nav-link.active{
   font-weight: bold;
    text-decoration: underline;
}

#layoutSidenav_nav nav .sb-sidenav-menu-heading{
    color: white;
    font-weight: bold;
    padding-top: 12px;
    background-color: #a16aff;

    /* #833bff */
}

#layoutSidenav_nav nav .sb-sidenav-footer{
    background-color: #a16aff;
    color: white;
}

#logo{
    display: none;
}

#logo + button {
    margin-left: 10px;
}

#imgPerfil{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


#imgPerfil img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid gray 1px;
}

@media (min-width: 450px){
    #logo{
        display: block;
        width: 205px;
        padding-right: 0;
    }

    #logo + button {
        margin-left: 0;
    }
}
