@mixin ocultarborde{
    outline-width: 0 !important;
    box-shadow: none !important;
}

@mixin mainAlineado{
    main{
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@mixin botonusua($fondo,$posicion,$disp,$sombra){
    background: $fondo;
    border-radius: 100px;
    position: $posicion;
    display: $disp;
    box-shadow: $sombra !important;
}

@mixin estructura() {
    #contenedorFormulario {
        border: solid black 1px;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px #a16aff;
    }

    h1 {
        margin: 20px 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid #a16aff;
        border-top: 1px solid #a16aff;
        text-shadow: 3px 2px 4px #a16aff;
        word-break: break-word;
    }

    body.dark {
        h1 {
            color: white;
        }
    }
}

@mixin repetir($width){
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s !important;
    }

    .boton{
        border: 1px solid black;
        width: $width;
        border-radius: 5px;
        background-color: rgba(161, 106, 255,0.4);
        color: black;
    }

    button:hover{
        text-decoration: underline;
    }

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    form button:focus, form button:active, form input,textarea{
        @include ocultarborde();
    }

    input,textarea {
        border: 1px solid #a16aff;
        border-radius: 5px;
        text-align-all: center;
    }

    body.dark{
        h1{
            color: white;
        }

        label{
            color: white;
        }

        form input,textarea{
            border-color: #a16aff;
            background-color: transparent;
            color: white !important;
        }

        input[type=search],.boton{
            color: white !important;
            background-color: #7A01C9 !important;
            border-color: #a16aff !important;
        }
    }
}
