@import "funciones";

@include mainAlineado();

#contenedorPadre{
    margin-bottom: 30px;
}

@include repetir(100%);
@include estructura();

form textarea {
    resize: none;
    height: 180px;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input:read-only{
    background-color: #a16aff;
    color: white;
}

body.dark{
    svg,span{
        color: white;
    }

    input:read-only{
        background-color: #7A01C9;
    }
}
