#layoutSidenav_nav nav {
  background-color: white !important;
}

button:focus, button:active, input[type=search]:focus, input[type=search]:active, .dataTables_paginate a:focus, .dataTables_paginate a:active {
  outline-width: 0 !important;
  box-shadow: none !important;
}

.btn-link {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#layoutSidenav_nav nav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#navSuperior {
  background-color: #a16aff;
}

#layoutSidenav_nav nav .nav-link {
  color: black;
}

.sb-nav-link-icon svg {
  color: #a16aff;
}

#layoutSidenav_nav nav .nav-link:hover {
  color: #a16aff;
}

#layoutSidenav_nav nav .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

#layoutSidenav_nav nav .sb-sidenav-menu-heading {
  color: white;
  font-weight: bold;
  padding-top: 12px;
  background-color: #a16aff;
}

.dropdown-menu a:focus {
  background-color: #a16aff !important;
}

#layoutSidenav_nav nav .sb-sidenav-footer {
  background-color: #a16aff;
  color: white;
}

#logo {
  display: none;
}

#logo + button {
  margin-left: 10px;
}

#imgPerfil {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#imgPerfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid gray 1px;
}

.switch {
  background: #7A01C9;
  border-radius: 100px;
  position: relative;
  display: flex;
  box-shadow: none !important;
  border: none;
  margin-top: 6px;
  margin-right: 10px;
  cursor: pointer;
  height: 30px;
  width: 70px;
  outline-width: 0 !important;
}
.switch::after {
  background: #F1F1F1;
  border-radius: 100px;
  position: absolute;
  display: block;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2) !important;
  content: "";
  height: 28px;
  width: 28px;
  left: 0.07em;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
}
.switch.active {
  background: #a16aff;
}
.switch.active::after {
  right: 0.1em;
  left: unset;
}
.switch span {
  width: 50px;
  line-height: 28px;
  display: block;
  background: none;
  color: #fff;
}

footer, .sb-sidenav-footer, #layoutSidenav_nav nav .sb-sidenav-footer {
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.15);
}

body.dark {
  background-color: #282828;
}
body.dark #navSuperior {
  background-color: #7A01C9;
}
body.dark #layoutSidenav_nav nav {
  background-color: #282828 !important;
}
body.dark #layoutSidenav_nav nav .nav-link {
  color: white;
}
body.dark #layoutSidenav_nav nav .nav-link:hover {
  color: #9d01e2;
}
body.dark #layoutSidenav_nav nav .sb-sidenav-menu-heading {
  background-color: #7A01C9;
}
body.dark .dropdown-menu a:focus {
  background-color: #7A01C9 !important;
  color: white;
}
body.dark #layoutSidenav_nav nav .sb-sidenav-footer {
  background-color: #282828;
  color: white;
  box-shadow: 0px -1px 10px 0px #a16aff;
}
body.dark .sb-nav-link-icon svg {
  color: rgba(255, 255, 255, 0.5);
}
body.dark footer, body.dark .sb-sidenav-footer {
  background-color: #282828 !important;
  box-shadow: 0px -1px 10px 0px #a16aff;
}
body.dark footer .text-muted, body.dark .sb-sidenav-footer .text-muted {
  color: white !important;
}

@media (min-width: 450px) {
  #logo {
    display: block;
    width: 205px;
    padding-right: 0;
  }

  #logo + button {
    margin-left: 0;
  }
}

/*# sourceMappingURL=principalLayout.css.map */
