@import "funciones";

#contenedorPadre{
    height: 85vh;
    display: flex;
    align-items: center;
}

@include estructura();

.botonperfil{
    color: #a16aff !important;
    background-color: transparent;
    border: none;
}

#botonAdd{
    margin-bottom: 0;
}

#botonAdd a button{
    border-color: #a16aff;
    padding: 3px 10px;
}


